<div class="ui">
    {{ form_start(form, {'action': path(submitPath, {'orderNumber': orderNumber}), 'attr': {'class': 'ui reply form', 'novalidate': 'novalidate'}}) }}
    <div class="field">
        {{ form_row(form.message) }}
    </div>
    <button type="submit" class="ui labeled icon blue button"><i class="edit icon"></i> {{ 'sylius.ui.comment'|trans }}</button>
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
