<h3 class="ui dividing header">{{ 'sylius.ui.order_comments'|trans }}</h3>
{% for order_comment in order_comments %}
    <div class="comment segment">
        <div class="content">
            <a class="author">{{ order_comment.authorEmail }}</a>
            <div class="metadata">
                <span class="date">{{ order_comment.createdAt|date('H:i:s Y/m/d') }}</span>
            </div>
            <div class="text">
                {{ order_comment.message }}
            </div>

            {% if order_comment.attachedFile is not null %}
                <div class="file">
                    <a href="{{ app.request.httpHost }}/{{ order_comment.attachedFile.path }}" class="ui icon button" >
                        <i class="file icon"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
